.select-card-page {
    margin: 0 30px;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdbdbd;
    width: 312px;
    height: 570px;
    padding: 10px 30px;
    border-radius: 25px;

}

.search-box-input, .search-box-select{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    width: 250px;
    margin: 3px 0 15px 0;
}

.search-box-p {
    font-weight: bold;
}

.search-box-h1 {
    margin: 10px 0 15px 0;
    font-size: 28px;
    font-weight: bolder;
}

.search-box-h1, .search-box-p {
    align-self: flex-start;
}

.search-box-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 15px 0;
}

.search-box button {
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
}

.btn-search {
    background: #1976d2;  
    transition: 0.2s;
    margin-left: 15px;
}

.btn-search:hover {
    background: #3c9cfc;
}

.btn-clear {

    background: #d32f2f;
    transition: 0.2s;
    margin-right: 15px;
}

.btn-clear:hover {
    background: #f74141;
}

.loading {
    width: max-content;
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 12px;    
    font-size: 24px;
    color: #c90808;
    font-weight: bold;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 5px solid #ddd;
    border-top: 5px solid #c90808;
    border-radius: 50%;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.select-card-body {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
}

.select-card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    width: 100%;
    margin:0 0 20px 30px;
}

.select-card-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}