.pokemon-details-page {
    margin-left: 20px;
}

.pokemon-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.btn-back {
    margin-top: 10px;
    width: 70px;
    height: 25px;
    background-color: rgb(227, 225, 225);
    border: 1.5px solid;
    border-radius: 7px;
    transition: 0.2s;
}

.btn-back:hover {
    background: #d32f2f;
    color: white;
}