.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 100px;
    width: 450px;
    height: 530px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.8);
    background-color: rgb(212, 208, 208);
}

.pokemon-image {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pokemon-info img {
    width: 350px;
    height: 350px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.pokemon-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    gap: 15px;
}

.pokemon-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
